body {
    font-family: Arial;
}

#episodeTable, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.container {
    width: 100%;
    display: flex;
}

.col {
    width: 30%;
    position: relative;
}

.execTime {
    font-weight: bold;
    color: green;
}